.otd-wrapper{
    width: 100%;
    height: 80vh;
    background: rgb(241, 241, 241);

    .otd-header-wrapper{
        width:100%;
        padding: 10px;
        background: rgb(255, 255, 255);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .search-input-wrap{
            width: 40%;
            padding-right: 20px;
            border-right: 1px solid rgb(224, 224, 224) ;

            input{
                background: rgb(224, 224, 224);
                border: none;
                padding: 10px;

                &::placeholder{
                    color:rgb(151, 151, 151) !important;
                }
            }
        }

        .date-input-filter{
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            width: 60%;

            .count{
                font-weight: 700;
            }

            label{
                margin: 0;                
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .otd-card{
        width:100%;
        padding: 25px;
        background: rgb(255, 255, 255);
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        line-height: 24px;
        justify-content: space-between;
        // align-items:
        font-size: 10pt;

        .otd-card-description{
            width: 40%;
            
            h5{
                margin: 0;
            }
            
            .shipment-info-wrapper{
                background: #ebedeb;
                padding: 10px;
                margin-top: 20px;
            }
        }

        .otd-timeline-process{
            line-height: 1;
            width:30%;
            background: #ebedeb;
            padding: 10px;

            .chip{
                
                padding: 5px;
                margin-top: 8px;
            }

            .yellow{
                background: rgb(255, 255, 140);
            }

            .green{
                background: rgb(101, 245, 101);
            }

            .blue{
                background: rgb(101, 228, 245);
            }

            .red{
                background: rgb(245, 101, 108);
            }
        }

        .otd-card-shipment{
            width:30%;
            background: #ebedeb;
            padding: 20px;

            h4{
                margin: 0;
            }
        }
    }
}


@media screen and (max-width:$break-small) {
    .otd-wrapper{
        margin-top: -40px;
        padding: 0px -10px;
        margin-top: -40px;
        margin-left: -13px;
        width: 107%;

        .otd-header-wrapper{

            flex-direction: column;

            .search-input-wrap{
                width:100%;
                border: none;
                padding: 0px;
            }

            .date-input-filter{
                width: 100%;
                margin-top: 10px;
                padding-left: 0px;
            }
        }
    }
}